<header>
  <% if user_signed_in? %>
    <%= link_to('You are logged in. Logout?', destroy_user_session_path, method: :delete) %>
  <% else %>
    <%= link_to('Login', new_user_session_path)  %>
  <% end %>
</header>
<section>
  <h1>Welcome</h1>
  <article>
    <% if user_signed_in? %>
    <div>
      <p><%= link_to 'Create new board', new_board_path %></p>
    </div>
    <% else %>
      <p>You must be signed in to create a board.</p>
    <% end %>
    <h1>Boards</h1>
    <% @boards.each do |board|%>
      <div>
        <h2><%= link_to board.title, board_url(board)%></h2>
      </div>
    <% end %>
  </article>


</section>