<header>
  <% if user_signed_in? %>
    <%= link_to('You are logged in. Logout?', destroy_user_session_path, method: :delete) %>
  <% else %>
    <%= link_to('Login', new_user_session_path)  %>
  <% end %>
</header>

<section>
  <h1><%= @board.title %></h1>
  <p>Statuses: </p>
  <% @board.statuses.each do |status|%>
    <div>
      <h2><%= link_to status.name, status_url(status)%></h2>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <div>
      <p><%= link_to 'New status', new_status_path(@status)  %> | <%= link_to 'Go back', :back %></p>
    </div>
  <% else %>
    <p>You must be signed in to create a status | <%= link_to 'Go back', :back %></p>
  <% end %>

</section>